doctype html
html(lang='en')

    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        include ../pug_includes/title.pug

        include ../pug_includes/css/core.pug

        // Page level plugin CSS
        link(href='vendor/datatables/dataTables.bootstrap4.css', rel='stylesheet')

        include ../pug_includes/css/custom.pug


    //----------------------------
    body#page-top.fixed-nav.sticky-footer.bg-dark
        div(class="modal fade" id="edit" tabindex="-1" role="dialog"
        aria-labelledby="myModalLabel" aria-hidden="true"
        style="position:fixed;top:20%")
            div(class="modal-dialog")
                div(class="modal-content")
                    div(class="modal-header")
                        h4(class="modal-title" id="info-dialog-title")
                        button(type="button" class="close" data-dismiss="modal" aria-hidden="true") &times;
                    div( id="edit_inputs" class="modal-body")
                    div( class="modal-footer text-center")
                        button(type="button" data-dismiss="modal" class="btn btn-outline-danger" id="btn-delete") 删除
                            button(type="button" class="btn btn-default" data-dismiss="modal") 关闭
                            button(type="button" data-dismiss="modal" class="btn btn-warning" id="btn-add") 添加
                            button(type="button" data-dismiss="mSodal" class="btn btn-primary" id="btn-edit") 提交修改



        include ../pug_includes/navbar.pug
        .content-wrapper
            .container-fluid
                // Breadcrumbs
                ol.breadcrumb
                    li.breadcrumb-item
                        div(id='divTitle') 数据配置--
                        div
                            span 服务器时间：
                            input(id="datetimepicker",type="text")
                            span [-]
                            button(type="button" data-dismiss="modal" class="btn btn-outline-danger"  onclick="resetTime()") 重置时间
                            span [---]
                            button(type="button" data-dismiss="modal" class="btn btn-outline-danger"  onclick="restartSys()") 服务器崩溃重启
                        div
                            pan [--]
                            button(type="button" data-dismiss="modal" class="btn btn-outline-danger"  onclick="onlineUserData2RDS()") 在线用户数据->redis
                            pan [--]
                            button(type="button" data-dismiss="modal" class="btn btn-outline-danger"  onclick="saveAllUser2DB()") 所有用户数据(含rds)->mysql

                        div
                            pan [--]
                            button(type="button" data-dismiss="modal" class="btn btn-outline-danger"  onclick="clearUserDataInDB()") 清理mysql用户数据
                            pan [--]
                            button(type="button" data-dismiss="modal" class="btn btn-outline-danger"  onclick="clearRds()") 清理redis数据
                            pan [--]
                            button(type="button" data-dismiss="modal" class="btn btn-outline-danger"  onclick="initRedisConfig()") 数据库加载配置到redis
                        div
                            pan [--]
                            button(type="button" data-dismiss="modal" class="btn btn-outline-danger"  onclick="updateRanking()") 刷新排行榜
                        div
                            pan [--]
                            button(type="button" data-dismiss="modal" class="btn btn-outline-danger"  onclick="setServerLitenStop()") 停止服务
                            pan [--]
                            button(type="button" data-dismiss="modal" class="btn btn-outline-danger"  onclick="setServerLitenStart()") 开启服务

                        div
                            span 玩家充值
                        div
                            span 玩家id：
                            input(id="txtuid",type="text")
                            pan [--]
                            span 商店id：
                            input(id="txtshopid",type="text")
                            button(type="button" data-dismiss="modal" class="btn btn-outline-danger"  onclick="recharge()") 玩家充值
                        div
                            span 发公告
                        div
                            span 公告内容：
                            textarea(id="txtgg",type="text",style="width:530px;height: 130px;" rows="50" cols="7")
                        div
                            pan  发送次数：
                            input(id="txtnum",type="text")
                            pan  []间隔时间(分钟)：
                            input(id="txttime",type="text")
                            pan  [------->>>
                            button(type="button" data-dismiss="modal" class="btn btn-outline-danger"  onclick="senGG()") 发公告



include ../pug_includes/footer.pug

include ../pug_includes/scroll-to-top.pug

include ../pug_includes/modals/logout.pug

include ../pug_includes/js/core.pug

// Page level plugin JavaScript
script(src='vendor/datatables/jquery.dataTables.js')
script(src='vendor/datatables/dataTables.bootstrap4.js')

include ../pug_includes/js/custom.pug


// Custom scripts for this page
script(src='js/sb-admin-datatables.min.js')
script(src='js/sb-admin-datatables.min.js')
script(src="js/DataProvider.js")
script(src="js/FileResder.js")
script(src='js/bootstrap-datetimepicker.js')
link(href='css/bootstrap-datetimepicker.css', rel='stylesheet')
script.

    function resetTime() {
        var str =$('#datetimepicker')[0].value;
        if(str!=""){
            doAjax({time:$('#datetimepicker')[0].value},"/resetTime","");
        }
    }
    initTimePicker();
    function initTimePicker() {
        $('#datetimepicker').datetimepicker({
            format: 'yyyy-mm-dd hh:ii',
            todayBtn: true,
            language: 'zh-CN',
            autoclose: true,


        });
    }

    //==============
    getsysTime();
    function showTime(str) {
        $('#datetimepicker')[0].value=(str);
    }
    function getsysTime() {
        $.ajax({
            url: "/getSysSetTime",
            data: {time:1},
            type: 'post',
            cache: false,
            dataType: 'json',
            success: function (data) {
                if (data.error == 0) {
                    showTime(data.message);
                } else if (data.error == 401) {
                    showAlert('错误，请稍后重试');
                } else {
                    showAlert('错误，请稍后重试');
                }
            },
            error: function () {
                showAlert('错误，请稍后重试');
            }
        });
    }
    function action(url,data,msg){
        $.ajax({
            url: url,
            data: data,
            type: 'post',
            cache: false,
            dataType: 'json',
            success: function (data) {
                if (data.error == 0) {
                    showAlert(data.message);
                } else if (data.error == 401) {
                    showAlert('错误，请稍后重试');
                } else {
                    showAlert('错误，请稍后重试');
                }
            },
            error: function () {
                showAlert('错误，请稍后重试');
            }
        });
    }

    //===================
    function clearRds() {
        this.action("/clearRds",{time:1},"清理成功");
    }
    function clearUserDataInDB() {
        this.action("/clearUserDataInDB",{time:1},"清理成功");
    }
    function restartSys() {
        this.action("/restartSys",{time:1}, "11111111111111");
    }


    function saveAllUser2DB(){
        this.action("/saveAllUser2DB",{time:1},"");
    }

    function onlineUserData2RDS(){
        this.action("/onlineUserData2RDS",{time:1},"");
    }
    //===================
    function updateRanking() {
        this.action("/updateRanking",{time:1},"");
    }
    function initRedisConfig() {
        this.action("/initRedisConfig",{time:1},"");
    }
    function setServerLitenStart() {
        this.action("/setServerLiten",{ty:1},"");
    }
    function setServerLitenStop() {
        this.action("/setServerLiten", {ty: 0}, "");
    }

    function recharge() {
        var uid = $('#txtuid')[0].value;
        var shopid = $('#txtshopid')[0].value;
        if(uid=="" || shopid=="")return;

        this.action("/cmsrecharge", JSON.stringify('{"uid":'+uid+',"shop_id":'+shopid+',"pay_type":'+'10}'), "刷新成功");
    }
    function senGG(){
        var gg = $('#txtgg')[0].value;
        var num = $('#txtnum')[0].value;
        var time = $('#txttime')[0].value;
        if (num == "")num = '1';
        if(time =="")time='1';

        var obj = {gg:gg,num:num,time:time};
        this.action("/sendGG", JSON.stringify(obj), "刷新成功");
    }